.DS_Store
.Rproj.user
.vscode
.Rdata
.idea
.Rhistory
Python/venv/
_extensions
chunk-code-504e4abcde65.log
presentation_projet_cache
presentation_projet_files
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/presentation_projet.html 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/presentation_projet.qmd 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/rapport_projet 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/rapport_projet_cache 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/rapport_projet.html 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/ReportRobin_cache 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/ReportRobin_files 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/ReportRobin.html 
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/ReportRobin.qmd
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/rapport_projet_files
/Users/robinchaussemy/Documents/FAC/M1SSD.nosync/ProjetMLM1/rapport_projet_cache
